@using Mvc.Core.ThirdParty
@using YogiApekshit.Web.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Prarambh Que_2";
}

<div class="page page-dashboard">
    @Html.Partial("BreadcrumbPartial", new BreadcrumbAndTitleModel("Que2"))
    <section class="tile bg-greensea">
        @Html.Partial("GridToolbar", new GridToolbarModel { GridId = "Prarambh_Que2_Grid", Title = "Answer using one sentence", SubTitle = "(Total Marks: 4)" })
        <div ng-controller="PrarambhController">
            <table class="table table-condensed queAnsTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Queuestion and Answer</th>
                        <th>Chapter</th>
                        <th>Exams</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in Que_2_List">
                        <td class="sequenceColumn">{{item.Sr}}.</td>
                        <td class="queAndansColumn">
                            <p style="line-height:1.7">
                                <b>{{item.Que}}</b> <br />
                                <b>Ans:</b> {{item.Ans}}
                            </p>
                        </td>
                        <td class="chapterColumn">{{item.Chapter}}</td>
                        <td class="examColumn">{{item.Exams}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div>
                @ViewBag.DemoID
            </div>
        </div>

    </section>
</div>

@section scripts{
}


@*
    <div class="page page-dashboard">
        @Html.Partial("BreadcrumbPartial", new BreadcrumbAndTitleModel("Que2"))

        <section class="tile bg-greensea">

            @Html.Partial("GridToolbar", new GridToolbarModel { GridId = gridId, Title = "Que2", SubTitle = "xxx" })
            <div >
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Que</th>
                            <th>Ans</th>
                        </tr>
                    </thead>
                    <tbody class='WhoIsSpeaking-result'>
                        <tr class='person' data-ng-repeat="item in QueAnsList">
                            <td>.</td>
                            <td>
                                ${{item.QUE }} <br />
                                ${{item.ANS }}
                            </td>
                            <td class="examColumn">${{item.EXAM}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>*@