@using YogiApekshit.Web.Models
<aside id="sidebar">
    <div id="sidebar-wrap">
        <div class="panel-group slim-scroll" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#sidebarNav">
                            Navigation <i class="fa fa-angle-up"></i>
                        </a>
                    </h4>
                </div>

                <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <ul id="navigation">
                            @{
                                var menus = Session["Menus"] as MenuItem;
                                if (menus != null)
                                {
                                    foreach (var menu in menus.MenuItems)
                                    {
                                        var cls1 = menu.IsActive ? "active" : string.Empty;
                                        <li class="@cls1">
                                            <a role="button" href="@Url.Action(menu.ActionName, menu.ControllerName, menu.RouteValues)"><i class="@menu.IConClass"></i><span>@menu.Name</span></a>
                                            @if (menu.MenuItems.Count > 0)
                                            {
                                                <ul>
                                                    @foreach (var childMenu in menu.MenuItems)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action(childMenu.ActionName, childMenu.ControllerName, childMenu.RouteValues)">
                                                                <i class="@childMenu.IConClass">
                                                                    @if (!string.IsNullOrEmpty(childMenu.IConUrl))
                                                                    {
                                                                        <img src="@childMenu.IConUrl" width="24px" height="24px" />
                                                                    }
                                                                </i><span>@childMenu.Name</span>
                                                            </a>

                                                            @if (childMenu.MenuItems.Count > 0)
                                                            {
                                                                <ul>
                                                                    @foreach (var childMenu2 in childMenu.MenuItems)
                                                                    {
                                                                        <li>
                                                                            <a href="@Url.Action(childMenu2.ActionName, childMenu2.ControllerName, childMenu2.RouteValues)">
                                                                                <i class="@childMenu2.IConClass">
                                                                                    @if (!string.IsNullOrEmpty(childMenu2.IConUrl))
                                                                                    {
                                                                                        <img src="@childMenu2.IConUrl" width="24px" height="24px" />
                                                                                    }
                                                                                </i><span>@childMenu2.Name</span>
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        <!--/ NAVIGATION Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
